body{
   font-size: 14px;
   line-height: 21px;
   font-family: 'PT Sans',Arial,sans-serif;
   text-transform: uppercase;
   color: #333;
   background: #f2f2f2;
   margin: 0;
}
.main-container {
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 -5px 15px 0 rgba(0,0,0,.2);
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 860px;
  margin: 0 auto;
}
